<div id="about">
    <div  class="about-wrap" style="">
        <!-- <div class="item-img-wrap">
            <figure id="svg-person">
            <img src="/assets/person-svgrepo-com.svg" class="svg" />
            </figure>
            <p>
            Tran Huu Anh Khoa
            </p>
        </div> -->
        <div class="item-about-box">
            <p>
            Tên Trần Hữu Anh Khoa, đây là web lưu những thứ tào lao và cũng là portfolio. Tôi đang làm việc tại <a href="allianceitsc.com">allianceitsc</a>
            <br/>Là một lập trình viên về C# và PHP, làm fullstack và back end. đã đi làm được nữa năm.
            <br/>Crawl dữ liệu bằng selenium, tuy chậm nhưng nó bao quát được mọi trang web, không cần biết đến API.
            </p>
        </div>
        
    </div>
</div>