<div id="about">
    <div  class="about-wrap" style="">
        <div class="item-img-wrap">
            <figure id="svg-person">
            <img src="/assets/person-svgrepo-com.svg" class="svg" />
            </figure>
            <p>
            Tran Huu Anh Khoa
            </p>
        </div>
        <div class="item-about-box">
            <p>
            MÌnh là Trần Hữu Anh Khoa a.k.a bichu136<br/>
            Sinh viên Năm Cuối, đang thất nghiệp. Làm web này để lưu trữ, kiến thức, để sau này nhìn lại xem mình đã làm được gì trong N năm/tháng.
            cũng như giúp nhà tuyển dụng một phần đánh giá thực lực của mình. Không rõ sẽ mang tính rõ ràng hay không.
            </p>
        </div>
        
    </div>
</div>