<div class="card-wrap">
    <div class = "card card-active" id ="card-1">
        
        <figure class="info-icon">
            <img src="/assets/Ayaka_balls.png"/>
        </figure>
        <div class="info-text">
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
        </div>
        
    </div>
    <div class = "card card-inactive" id ="card-2">
        <figure class="info-icon">
            <img src="/assets/Ayaka_balls.png"/>
        </figure>
        <div class="info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
        </div>
    </div>
    <div class = "card card-inactive" id ="card-3">
        <figure class="info-icon">
            <img src="/assets/Ayaka_balls.png"/>
        </figure>
        <div class="info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
        </div>
    </div>
    <div class = "card card-inactive" id ="card-4">
        <figure class="info-icon">
            <img src="/assets/Ayaka_balls.png"/>
        </figure>
        <div class="info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
        </div>
    </div>
    <div class = "card card-inactive" id ="card-5">
        <figure class="info-icon">
            <img src="/assets/Ayaka_balls.png"/>
        </figure>
        <div class="info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
        </div>
    </div>
</div>