
<div>
    <div class="carosel-slider">
        <div class = "slide slide-active" id ="slide-1">
            <figure>
                <img src="/assets/newspaper.jpeg" style="object-fit:cover;max-height: 55vh;max-width: 100%;"/>
            </figure>
            
            <a href="/">
                <div class="carosel-slide-text">
                    <h2>
                        Dengeki Bunko Fighting Climax Ignition Combos
                    </h2>
                    <p>
                        some text for reference
                    </p>
                </div>
            </a>
            
        </div>
        <div class = "slide slide-active" id ="slide-2">
            <figure>
                <img src="/assets/newspaper.jpeg" style="object-fit:cover;max-height: 55vh;max-width: 100%;"/>
            </figure>
            
            <a href="/">
                <div class="carosel-slide-text">
                    <h2>
                        Amber Guide
                    </h2>
                    <p>
                        some text for reference
                    </p>
                </div>
            </a>
            
        </div>
        <div class = "slide slide-active" id ="slide-3">
            <figure>
                <img src="/assets/newspaper.jpeg" style="object-fit:cover;max-height: 55vh;max-width: 100%;"/>
            </figure>
            
            <a href="/">
                <div class="carosel-slide-text">
                    <h2>
                        Japanese Vocabulary Quiz
                    </h2>
                    <p>
                        some text for reference
                    </p>
                </div>
            </a>
        </div>
        <div class = "slide slide-active" id ="slide-4">
            <figure>
                <img src="/assets/newspaper.jpeg" style="object-fit:cover;max-height: 55vh;max-width: 100%;"/>
            </figure>
            
            <a href="/">
                <div class="carosel-slide-text">
                    <h2>
                        Dengeki Bunko Fighting Climax Ignition Combos
                    </h2>
                    <p>
                        some text for reference
                    </p>
                </div>
            </a>
            
        </div>
    </div>
    <!-- TODO: some Button -->
    <div class="carosel-buttons-wrap">
        <div id="Cbtn1" class="caro-button caroBtn-active">
        </div>
        <div id="Cbtn2"  class="caro-button caroBtn-inactive">
        </div>
        <div id="Cbtn3" class="caro-button caroBtn-inactive">
        </div>
        <div id="Cbtn4" class="caro-button caroBtn-inactive">
        </div>
    </div>
</div>
<script src="/javascript/carosel.js"></script>