
<div>
    <div class="carosel-slider">
        <div class = "slide slide-active" id ="slide-1">
            <figure>
                <img src="/assets/DengekiBunkoCombos/untitled_HD.gif" style="object-fit:cover;max-height: 75vh;"/>
            </figure>
            
            <div>Dengeki Bunko Fighting Climax Ignition Combos</div>
            
        </div>
        <div class = "slide slide-inactive" id ="slide-2">
            <figure style="object-fit:contain;min-width: 100%;max-height: 75vh;">
                <img src="/assets/M1RCC.gif" />
            </figure>
            Genshin bow tech
        </div>
        <div class = "slide slide-inactive" id ="slide-3">
            Japanese Word quiz
        </div>
        <div class = "slide slide-inactive" id ="slide-4">
            something else
        </div>
    </div>
    <!-- TODO: some Button -->
    <div class="carosel-buttons-wrap">
        <div id="Cbtn1" class="caro-button caroBtn-active">
        </div>
        <div id="Cbtn2"  class="caro-button caroBtn-inactive">
        </div>
        <div id="Cbtn3" class="caro-button caroBtn-inactive">
        </div>
        <div id="Cbtn4" class="caro-button caroBtn-inactive">
        </div>
    </div>
</div>
<script src="/javascript/carosel.js"></script>