<div id="DFCI_DIV">
    <div style="display: flex;">
        <div id="idle_canvas_wrapper" >
            <canvas id="IdleAnimation">

            </canvas>    
        </div>
        <div id="chara_info" >
            <span>Stat</span>
            <div id="chara_stat_wrap">
                <div class="chara_stat">
                    <canvas id="statCanvas">
                    </canvas>
                    
                </div>
            </div>
            <span>Description</span>
            <div id="chara_descript_wrap" >
                <div class="chara_descript">
                    something
                </div>
            </div>
        </div>
    </div>
    <div id="chara-select-wrapper" style="display: flex; width:100%;align-items: center; justify-content: center;flex-wrap:wrap;">

    </div>
</div>

<script src="/javascript/dfci/DFCIGlobal.js"></script>
<script src="/javascript/dfci/DFCIModel.js"></script>
<script>
let DFCICharaDict = { {% for infoIndex in site.data.dfci_chara_info %}

"{{infoIndex.charaId}}": new DFCICharacter("{{infoIndex.name}}","{{infoIndex.description}}", {{infoIndex.offense}} , {{infoIndex.deffence}} , {{infoIndex.range}},{{infoIndex.X_offset}},{{infoIndex.Y_offset}},{{infoIndex.x}},{{infoIndex.y}},"{{infoIndex.charaId}}",{{infoIndex.NumberOfFrame}}),
{% endfor %} }
// for(let i=0; i<IdleNumberFrame.length;i++){
//     console.log(IdleNumberFrame[i]["Name"]+","+IdleNumberFrame[i]["X_offset"]+","+IdleNumberFrame[i]["Y_offset"]+","+CharaSelectDict[IdleNumberFrame[i]["Name"]]["x"]+","+CharaSelectDict[IdleNumberFrame[i]["Name"]]["y"])
// }
</script>

<script src="/javascript/dfci/DFCICharaInfo.js"></script>