<div id="nav-bar">
    <div id= 'web_title'>
        <a href="/">
            <span class="material-symbols-outlined m_s_home">
                home
            </span>
        </a>
    </div>
    <div id ="spacing">
        <div class="nav-tag" style = "text-align:center">
            <!-- cần 3 mốc about,github branch tree view, -->
            {% for tag in site.tags %}
            <div class="tag-name">
                <a href="/all_post#{{tag[0]}}">{{tag[0]}}</a>
            </div>
            {% endfor %}

        </div>

    </div>
    <div id='about'><a href = '/all_post'>All Posts</a></div>
</div>

<script src="/javascript/navbar.js" type="text/javascript"></script>