<div class="mainBanner" >
    {% assign ball_images = site.static_files | where: "DFCI_BALL", true %}
    {% for myimage in ball_images %}
        <img id="{{myimage.basename}}" class="dfci_ball" src="{{ myimage.path }}">
    {% endfor %}
    <div class="mainBanner-image">
        
    </div>
    <div class="mainBanner-canvas-wrap">
        <canvas id="mainBanner-canvas">

        </canvas>
    </div>
    <div id="avatar" >
        
    </div>
    <div id="contact">
        <p>
            YT Dis  FB Gmail
        </p>
    </div>
    <div id="Name">
        <p>
            bichu136
        </p>
    </div>
    
</div>
<script src="/javascript/mainbanner.js"></script>