.card-wrap{
    display:flex;
    min-height: 75vh;
    height:fit-content;
    margin-top: 15%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.card{
    display:flex;
    flex-direction: column;
    border-radius: 10%;
    text-align: center;
    min-width:320px;
    max-width:30%;
    margin-left:1%;
    margin-right:1%;
    margin-top:5%;
}
.info-text{
    background-color: white;
    box-shadow: 0px -50px white;
    padding-left: 25px;
    min-height: 25vh;
    max-height: 30vh;
    padding-right: 25px;
    border-radius: 17%;
    overflow: auto;
    
}
.info-icon{
//     position:relative;
//     top:-50px;
    z-index:999;
}
@media screen and (max-width:720px) {
    // .card-wrap{
    //     flex-direction: column;
    // }
    .card{
        max-width:75%;
    }
}