.card-wrap{
    display:flex;    
    height:fit-content;    
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.card{
    display:flex;
    flex-direction: column;
    width:43vw;
    margin-left:1.5%;
    margin-right:1.5%;
    gap:10px;
}
.card-title{
    background-color: transparent;
    box-shadow: 0px 3px black;
    padding-left: 30px;
    padding-right: 30px;
    margin: bottom 2px;
    overflow: auto; 
}
.info-text{
    background-color: white;
    box-shadow: 0px 3px black;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
    
}
@media screen and (max-width: 800px) {
    .card{        
        width : 100vw;
    }
}