#DFCI_DIV{
    min-width: 100%;
    max-width: 100%;
}
// #IdleAnimation{
// }
#idle_canvas_wrapper{
    width:50%;
    height: 60vh;
    min-height:500px;
}

#chara_info{
    width: 50%;
    position:relative;
    transition: left 0.5s;
    left: 0;
    overflow: hidden;
    height:60vh;
    min-height:500px;
    background-color: coral;
    span{
        // font-size: 1.5vw;
        position:relative;
        // top:2vh;
        // left:25%;
        z-index: 999;
        color: white;
    }
    #chara_descript_wrap{
        height:30%;
        padding-top:1%;
        background-image: linear-gradient(to top left,white,rgba(50,50,50,1),white); 
        clip-path: polygon(0% 10%,2.5% 0%,5% -10%,50% -10%,50% 0%,100% 0%,100% 100%,2.5% 100%,0% 90%);
        .chara_descript{
            background-color: black;
            color:white;
            margin-left:1%;
            margin-bottom:2%;
            height:90%;
            // width:85%;
            overflow:auto;
            padding-left:20px;
            clip-path: polygon(0% 10%,2.5% 0%,100% 0%,100% 100%,2.5% 100%,0% 90%);
            // clip-path: polygon(0% 10%,10% 0%,10% -10%,50% -10%,50% 0%,100% 0%,100% 100%,10% 100%,0% 90%);
        }
    }
    #chara_stat_wrap
    {
        height:50%;
        background-image: linear-gradient(to top left,white,rgba(50,50,50,1),white); 
        padding-top: 1%;
        clip-path: polygon(0% 10%,10% 0%,10% -10%,50% -10%,50% 0%,100% 0%,100% 100%,10% 100%,0% 90%);
        .chara_stat{
            background-color: black;
            color:white;
            margin-left:1%;
            margin-bottom:1%;
            height:99%;
            padding-left:20px;
            padding-top:20px;
            clip-path: polygon(0% 10%,10% 0%,100% 0%,100% 100%,10% 100%,0% 90%);
            // clip-path: polygon(0% 10%,10% 0%,10% -10%,50% -10%,50% 0%,100% 0%,100% 100%,10% 100%,0% 90%);
        }
    }
}
