#nav-bar{
    display:flex;
    background-color:rgba(0,0,157,0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    z-index: 100;
    //transition: visibility 0.s linear;
}
#spacing{
    order: 1;
    flex-grow: 2;
}
#about{
    order:99;
    
}
#web_title{
    order:0;
    
    
}