#table-of-content-button{
    top:1%;
    // left:1%;
    position:sticky;
    align-self:flex-start;
    max-width: 10vw;
    min-width: 10vw;
    width:fit-content;
    // width:30%;
    display: block;
    font-size:1vw;
    background-color: coral;
}
#table-of-content ul {
    list-style-type: none;
    margin-bottom: 0.5vw;
}
#table-of-content ul li{
  list-style-type: none;
  margin-bottom: 0.5vw;
}
#table-of-content{
  display:none;
}
#table-of-content-button:hover {
  #table-of-content{
    display:block;
  }
  background-color: yellow;
    

}
#table-of-content:hover{
  display:block;
}