<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- headerbar -->
<div class = 'background'>

</div>
<div class = 'wrap'>
    <div id="nav-bar">
        <div id= 'web_title'>{{site.title}}</div>
        <div id ="spacing"></div>
        <div id='about'><a href = '/about/'>About</a></div>
    </div>
    <hr></hr>
    <div class='front-page-panel'>
        <h1>{{page.title}}</h1>
    </div>
<div id = "content">
    
    <div id='table-of-content' style='min-width:100px;min-height: 100px; background-color: aqua;'>
        
    </div>
    <div class='flex-item-container' style = "overflow: auto;">
        {{content}}
    </div>
</div>
</div>

<!-- footerbar -->
</body>
</html>